*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
li{
    list-style: none;
}

/* Header Start */
/* Top Header Start */
.top-header{
    background-color: #1A2B48;
    padding: 15px 50px;
    .top{
        display: flex;
        height: 100%;
        .top-left{
            display: flex;
            height: 100%;
            .icon-ul{
                display: flex;
                align-items: center;
                height: 100%;
                margin: 0;
                border-right: 1px solid #eeeeee;
                li{
                    a{
                        font-size: 14px;
                        padding-right: 18px;
                        i{
                            color: #D1D4DA;
                        }
                    }
                }
            }
            .email-ul{
                display: flex;
                align-items: center;
                height: 100%;
                margin: 0;
                padding-left: 18px;
                li{
                    a{
                        font-size: 12px;
                        color: white;
                        font-weight: 400;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        .top-right{
            height: 100%;
            width: 100%;
            .top-list{
                display: flex;
                align-items: center;
                justify-content: flex-end;
                width: 100%;
                height: 100%;
                margin: 0;
                li{
                    position: relative;
                    a{
                        padding: 0 18px;
                        font-size: 12px;
                        color: white;
                        font-weight: 400;
                        border-right: 1px solid #eeeeee;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                    .eur{
                        border: none;
                    }
                    .drop-ul{
                        z-index: 1;
                        background-color: #1A2B48;
                        position: absolute;
                        top: 35px;
                        left: 0;
                        border: 1px solid black;
                        padding: 5px 0;
                        border-radius: 5px;     
                        a{
                            border: none;
                            padding: 8px 20px;
                        }
                    }
                    .show-money{
                        display: block !important;
                    }
                }
            }
        }
    }
}
/* Top Header End */ 
/* Bottom Header Start */
.bottom-header{
    background-image: url(https://mixmap.travelerwp.com/wp-content/uploads/2018/12/united.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height:81px 0;


    width: 100%;
    .bottom-menu{
        padding: 0 50px;
        display: flex;
        justify-content: space-between;
        .side-menu{
            background-color: #fff;
            z-index: 10;
            height: 100%;
            position: fixed;
            top: 0;
            left: -1000px;
            width: 50%;
            overflow-y: scroll;
            transition: .5s;
            &.active-side-menu{
                left: 0;
            }
            .back-li{
                background-color: #f5f5f5;
                .back-icon{
                    font-size: 22px;
                    color: grey;
                }
            }
            li{ 
                padding: 18px 25px;
                border-bottom: 1px solid #eeeeee;
                width: 100%;
                a{
                    display: flex;
                    justify-content: space-between !important;
                    font-size: 14px;
                    color: #1A2B48;
                    transition: .5s;
                    font-weight: 500;
                    &.active-link, &:hover{
                        color: #5191FA;
                    }
                }
            }
            .border-none{
                border: none !important;
            }
            .acc-menu{
                ul{
                    margin: 0;
                }
                .acc-head-li{
                    border-left: 2px solid #5191FA;
                }
                li{
                    padding: 18px 25px;
                }
            }
        }
        
        .bottom-menu-left{
            display: flex;
            .side-icon{
                cursor: pointer;
                font-size: 20px;
                margin-right: 15px;
                padding: 11px 14px;
                height: 100%;
                display: flex;
                align-items: center;
                color: white;
                border: 1px solid white;
                display: none;
            }
            .logo{
                height: 100%;
                display: flex;
                align-items: center;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .bottom-list{
                margin: 0;
                height: 100%;
                display: flex;
                align-items: center;
                .bottom-li{
                    padding: 35px 25px;
                    .bottom-link{
                        position: relative !important;
                        font-size: 14px;
                        font-weight: 600;
                        color: white;
                        transition:  .3s;
                        &.active-color, &:hover{
                            color: rgb(81, 145, 250);
                        }
                    }
                    .bottom-drop-menu{
                        z-index: 10;
                        position: absolute;
                        top: 200px;
                        left: 227px;
                        background-color: #fff;
                        padding: 20px 25px 25px;
                        border-radius: 5px;
                        opacity: 0;
                        visibility: hidden;
                        transition: .5s;
                        .hd-li{
                            padding: 15px 15px 0 15px;
                            margin-bottom: 15px;
                            border-bottom: 1px solid #eeeeee;
                            border-left: 2px solid #5191FA;
                        }
                        .bd-li{
                            padding: 15px;
                        }
                        .hd-a{
                            border-bottom: 1px solid #eeeeee;
                            color: #1A2B48;
                            transition: .3s;
                            &:hover{
                                color: #5191fa;
                            }
                        }
                        .border-no{
                            border: none;
                        }
                    }
                    .bottom-drop-menu-little{
                        z-index: 10;
                        position: absolute;
                        top: 200px;
                        left: 584px;
                        background-color: #fff;
                        padding: 20px 25px 25px;
                        border-radius: 5px;
                        opacity: 0;
                        visibility: hidden;
                        transition: .5s;
                        .hd-li{
                            padding: 15px 15px 0 15px;
                            margin-bottom: 15px;
                            border-bottom: 1px solid #eeeeee;
                            border-left: 2px solid #5191FA;
                        }
                        .bd-li{
                            padding: 15px;
                        }
                        .hd-a{
                            border-bottom: 1px solid #eeeeee;
                            color: #1A2B48;
                            transition: .3s;
                            &:hover{
                                color: #5191fa;
                            }
                        }
                        .border-no{
                            border: none !important;
                        }
                    }
                    &:hover{
                        .bottom-drop-menu{
                            top: 94px;
                            opacity: 1;
                            visibility: visible;
                        }
                        .bottom-drop-menu-little{
                            top: 94px;
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }
        }
        .bottom-menu-right{
            .bottom-menu-right-ul{
                margin: 0;
                height: 100%;
                display: flex;
                align-items: center;
                .basket{
                    font-size: 25px;
                    color: #fff;
                    padding: 0 15px;
                    position: relative;
                }
                .inbasket{
                    background-color: #fff;
                    position: absolute;
                    top: 65px;
                    left: 75%;
                    padding: 5px;
                    border: 1px solid #dfdfdf;
                    border-radius: 5px;
                    .your{
                        padding: 20px; 
                        
                        color: #1A2B48;
                        font-weight: 500;
                        font-size: 16px;
                        border-bottom: 2px solid #dfdfdf;
                    }
                    .cart{
                        font-size: 14px;
                        padding: 20px; 
                        
                        color: #8a6d3b;
                        font-weight: 500;
                    }
                }
                .show-basket{
                    display: block !important;
                }
                .become{
                    padding: 10px 25px;
                    background-color: #FA5636;
                    border-radius: 5px;
                    font-size: 14px;
                    color: #fff;
                    font-weight: 450;
                    transition: .3s;
                    &:hover{
                        background-color: #D3482E;
                    }
                }
            }
        }
 
    }
    
}

/* Bottom Header End */

/* Center Header Start */ 
.center-head{
    .center-head-text{
        h1{
            font-size: 36px;
            color: white;
            font-weight: 500;
            margin: 0 0 10px 0;
            margin-bottom: 80px;
          
        }
    
    }
}
/* Center Header End */ 

/* Header End */



/* Media Queries Start */
@media (max-width: 1200px){
    /* Bottom Header Media Start */
    .become{
        display: none !important;
    }
    /* Bottom Header Media End */
}
@media (max-width: 992px){
    /* Top Header Media Start */
    .top-header{
        padding: 15px !important;
        .top-left{
            .icon-ul{
                border: none !important;
            }
            .email-ul{
                display: none !important;
            }
        }
        .top-right{
            .top-list{
                li{
                    a{
                        border: none !important;
                    }
                    .eur{
                        display: none !important;
                    }
                }
            }
        }
    }
    /* Top Header Media End */
    /* Bottom Header Media Start */
    .bottom-menu{
        padding: 30px 35px !important;
    }
    .inbasket{
        left: 50%;
    }
    .side-icon{
        display: block !important;
    }
    .bottom-list{
        display: none !important;
    }
    /* Bottom Header Media End */
}
@media (max-width: 768px){
    /* Top Header Media Start */
    .top-header{
        padding: 15px !important;
        .top-left{
            .icon-ul{
                a{
                    font-size: 18px !important;
                }
                border: none !important;
            }
            .email-ul{
                display: none !important;
            }
        }
        .top-right{
            .top-list{
                li{
                    a{
                        border: none;
                    }
                    .eur{
                        display: none !important;
                    }
                }
            }
        }
    }
    /* Top Header Media End */ 
    /* Bottom Header Media Start */
    .bottom-menu{
        padding: 20px !important;
    }
    .inbasket{
        left: 50%;
    }
    .side-icon{
        display: block !important;
    }
    .bottom-list{
        display: none !important;
    }
    /* Bottom Header Media End */
    /* Center Header Media Start */
    .center-head{
        .center-head-text{
            h1{
                font-size: 48px !important;
            }
            p{
                display: none !important;
            }
        }
    }
    /* Center Header Media End */
}
@media (max-width: 540px){
    /* Top Header Media Start */
    .top-header{
        padding: 15px !important;
        .top-left{
            .icon-ul{
                border: none !important;
                a{
                    font-size: 18px !important;
                }
            }
            .email-ul{
                display: none !important;
            }
        }
        .top-right{
            .top-list{
                li{
                    a{
                        border: none;
                    }
                    .eur{
                        display: none !important;
                    }
                }
            }
        }
    }
    /* Top Header Media End */
    /* Bottom Header Media Start */
    .bottom-menu{
        padding: 20px !important;
    }
    
    .side-icon{
        display: block !important;
    }
    .bottom-list{
        display: none !important;
    }
    /* Bottom Header Media End */
    /* Center Header Media Start */
    .center-head{
        .center-head-text{
            h1{
                font-size: 32px !important;
            }
            p{
                display: none !important;
            }
        }
    }
    /* Center Header Media End */
}
/* Media Queries End */

/*-----*/
.main{
    display: flex;
    align-items: center;
  ul{
    
     li{
       padding: 0 20px;
       font-size:13px ;
         a{
          color: #1A2B48;
          display: block;
          font-weight: 500;        
          font-size:13px ;
        
   
         }
     }
  }
  
  }
  /*-----*/
/*park start*/

.pages{
    position: absolute;
    top: 30px;
    left: 30px;
    overflow: hidden;
    li{
        list-style: none;
        float: left;
        margin-right: 10px;
        border-radius: 3px;
        background: #f9ca24;
        margin-bottom: 5px;
    }
    a{color: #fff;
        padding: 5px 10px;
        display: block;
        text-decoration: none;
    
    }
    }

    


.control{



    input {
        height: 40px;
        font-size: 14px;
     
        font-style: italic;
        border-radius: 3px 0 0 3px;
        border: 1px solid #D7DCE3;
        padding: 0 10px;
     

    }
}
.abo{
    display: flex;
    
    a{
        font-size: 16px;
        color: #1A2B48;
        font-weight: 500;
        background-color: #fff;
        position: relative;
        display: inline-block;
        z-index: 9;
        padding-right: 25px;
        margin: 0;
    }
    hr{
        width: 110px;
        margin-left: 10px;
        height: 2px;
    }
}

.abo-img{
    img{
        max-width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
    p{
        font-size: 14px;
        color: #5E6D77;
        margin-bottom: 0;
        margin: 0 0 10px
     
      
    }

    
}

.aboute{
    display: flex;
   
    
    hr{
        width: 130px;
        margin-left: 20px;
        
    }
}
.pure{
    h4{
    font-size: 28px;
    line-height: 34px;
    margin-top: 30px;
    margin-bottom: 15px;
       a{
        color: black;
    }  
    }
   
}
.meta{
   img{
       padding-right: 10px;
   }
    ul{
        padding: 0;
        margin: 0;
    
        display: flex;
   
        li{
            padding: 0 10px;
            justify-content: center;
            font-size: 14px;
            color: #5E6D77;
            text-transform: uppercase;
            font-weight: 500;
            margin-right: 10px;
            a{
                color: black;
            }
        }
    }

}
.post-desion{
    p{
        margin: 0 0 10px;
        font-size: 14px;
    color: #5E6D77;
    box-sizing: border-box;
    }
}
.tagcloud{
    a{
        font-size: 11px!important;
        color: #1A2B48!important;
        font-weight: 500;
        background: #F7F6F6!important;
        border-radius: 3px;
        padding: 9px 20px;
        display: inline-block;
        margin-bottom: 10px;
        margin-right: 10px;
        text-transform: uppercase;
    }
}
.read{
    a{
    font-size: 14px;
    color: #5191FA;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 20px;
    display: inline-block;
}
    }

/*park end*/


/* Subcribe Section Start */
.subcribe{
    padding: 50px 0;
    background-color: #f5f5f5;
    .get{
        .get-img{
            padding-right: 30px;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .get-text{
            h4{
                font-size: 24px;
                color: #1A2B48;
                margin-bottom: 5px;
                font-weight: 500;
            }
            p{
                font-size: 16px;
                color: #5e6d77;
                margin-bottom: 10px;
                font-weight: 400;
            }
        }
    }
    .sub-input{
        input{
            border: 1px solid #ccc;
            outline: none;
            box-shadow: none;
            height: 55px;
            width: 100%;
            line-height: 55px;
            padding: 6px 12px;
            color: #555;
            font-size: 14px;
            border-color: #D7DCE3;
            background-color: #fff;
            border-radius: 5px 0 0 5px;
            &.active-input{
                border: 1px solid #FF8080;
            }
        }
        a{
            padding: 1px 25px;
            background-color: #5191fa;
            height: 55px;
            line-height: 55px;
            color: white;
            border-radius: 0 5px 5px 0;
            font-weight: 600;
        }
    }
}
/* Subcribe Section End */

/* Footer Start */
.foot{
    padding: 50px 0;
    .foot-title{
        padding: 15px 0;
        .foot-head{
            h4{
                font-size: 14px;
                color: #1A2B48;
                font-weight: 500;
            }
        }
        hr{
            background-color: #ebebeb;
            margin: 20px 0 35px;
            width: 150px;
        }
        .foot-tel{
            border-left: 3px solid #5191fa;
            margin-bottom: 35px;
            padding-left: 20px;
            p{
                font-size: 13px;
                color: #5e6d77;
                font-weight: normal;
            }
            h4{
                font-size: 18px;
                color: #1A2B48;
                margin-top: 10px;
                font-weight: 500;
            }
        }
        .foot-email{
            border-left: 3px solid #5191fa;
            margin-bottom: 35px;
            padding-left: 20px;
            p{  
                font-size: 13px;
                color: #5e6d77;
                font-weight: normal;
            }
            h4{
                font-size: 18px;
                color: #1A2B48;
                margin-top: 10px;
                font-weight: 500;
            }
        }
        .foot-icon{
            border-left: 3px solid #5191fa;
            padding-left: 20px;
            p{  
                font-size: 13px;
                color: #5e6d77;
                font-weight: normal;
            }
            a{
                font-size: 20px;
                i{
                    color: #A0A9B2;
                }
            }
            .twit{
                padding: 0 15px;
            }
        }
        .foot-list{
            li{
                margin-bottom: 25px;
                a{
                    font-weight: 400;
                    font-size: 14px;
                    color: #1A2B48;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
        .foot-p{
            font-size: 14px;
            margin-bottom: 5px;
            color: #5E6D77;
            font-weight: 400;
        }
        .foot-click{
            cursor: pointer;
            border: 1px solid #ECF0F3;
            // #DAE1E7
            height: 40px;
            max-width: 200px;
            border-radius: 5px;
            padding: 0 15px;
            position: relative;
            span{
                font-size: 13px;
                color: #1A2B48;
                font-weight: normal;
            }
            i{
                font-size: 13px;
                color: #1A2B48;
            }
            .foot-menu{
                position: absolute;
                top: 39px;
                left: 0;
                border: 1px solid #AAAAAA;
                border-top: none;
                width: 100%;
                border-radius: 0 0 5px 5px;
                ul{
                    margin: 0;
                }
                .border-li{
                    border-bottom: 1px solid #ECF0F3;
                }
                li{
                    width: 100%;
                    padding: 6px;

                    a{
                        width: 100%;
                        
                        color: #1A2B48;
                        font-size: 13px;
                        font-weight: normal;
                        
                    }
                    &:hover{
                        background-color: #5191FA;
                        a{
                            color: white;
                        }
                    }
                }
            }
        }
    }
}
/* Footer End */

/* The End Start */
.end{
    padding: 30px 0;
    .end-text{
        height: 100%;
        p{
            display: flex;
            align-items: center;
            height: 100%;
            margin: 0;  
            font-size: 14px;
            color: #1A2B48;
            font-weight: normal;
            a{
                color: #5191FA;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
    .end-img{
        display: flex;
        justify-content: flex-end;
    }
}
/* The End End */ 

/* Media Queries Start */
@media (max-width: 1200px){
    /* Bottom Header Media Start */
    .become{
        display: none !important;
    }
    /* Bottom Header Media End */
}
@media (max-width: 992px){
    /* Top Header Media Start */
    .top-header{
        padding: 15px !important;
        .top-left{
            .icon-ul{
                border: none !important;
            }
            .email-ul{
                display: none !important;
            }
        }
        .top-right{
            .top-list{
                li{
                    a{
                        border: none !important;
                    }
                    .eur{
                        display: none !important;
                    }
                }
            }
        }
    }
    /* Top Header Media End */

    /* Bottom Header Media Start */
    .bottom-menu{
        padding: 30px 35px !important;
    }
    
    .side-icon{
        display: block !important;
    }
    .bottom-list{
        display: none !important;
    }
    /* Bottom Header Media End */

    /* Hover Section Media Start */
    .hover-section{
        .hover-text{
            h2{
                margin: 0 !important;
                padding: 20px 0 18px;
            }
            .see{
                opacity: 1;
                visibility: visible;
            }
        }
        .hover-text-yellow{
            h2{
                margin: 0 !important;
                padding: 20px 0 18px !important;
            }
            .see{
                opacity: 1;
                visibility: visible;
            }
        }
        .hover-text-blue{
            margin: 20px 0;
            h2{
                margin: 0 !important;
                padding: 20px 0 18px !important;
            }
            .see{
                opacity: 1;
                visibility: visible;
            }
        }
    }
    /* Hover Section Media Start */

    /* Destination Media Start */
    .city{
        .city-link{
            bottom: 20px !important;
        }
    }
    /* Destination Media End */

    /* Slide Section Media Start */
    .next, .prev{
        display: none !important;
    }
    /* Slide Section Media Start */
}
@media (max-width: 768px){
    /* Top Header Media Start */
    .top-header{
        padding: 15px !important;
        .top-left{
            .icon-ul{
                a{
                    font-size: 18px !important;
                }
                border: none !important;
            }
            .email-ul{
                display: none !important;
            }
        }
        .top-right{
            .top-list{
                li{
                    a{
                        border: none;
                    }
                    .eur{
                        display: none !important;
                    }
                }
            }
        }
    }
    /* Top Header Media End */

    /* Bottom Header Media Start */
    .bottom-menu{
        padding: 20px !important;
    }
    
    .side-icon{
        display: block !important;
    }
    .bottom-list{
        display: none !important;
    }
    /* Bottom Header Media End */

    /* Center Header Media Start */
    .center-head{
        .center-head-text{
            h1{
                font-size: 48px !important;
            }
            p{
                display: none !important;
            }
        }
    }
    /* Center Header Media End */

    /* Hover Section Media Start */
    .hover-section{
        .hover-text{
            h2{
                margin: 0 !important;
                padding: 20px 0 18px;
            }
            .see{
                opacity: 1;
                visibility: visible;
            }
        }
        .hover-text-yellow{
            h2{
                margin: 0 !important;
                padding: 20px 0 18px !important;
            }
            .see{
                opacity: 1;
                visibility: visible;
            }
        }
        .hover-text-blue{
            margin: 20px 0;
            h2{
                margin: 0 !important;
                padding: 20px 0 18px !important;
            }
            .see{
                opacity: 1;
                visibility: visible;
            }
        }
    }
    /* Hover Section Media Start */

    /* Destination Media Start */
    .city{
        .city-link{
            bottom: 20px !important;
        }
        h4{
            font-size: 21px !important;
        }
    }
    /* Destination Media End */

    /* Slide Section Media Start */
    .next, .prev{
        display: none !important;
    }
    /* Slide Section Media Start */

    /* subcribe Section Media Start */
    .get{
        margin-bottom: 15px;
    }
    /* subcribe Section Media End */
}
@media (max-width: 540px){
    /* Top Header Media Start */
    .top-header{
        padding: 15px !important;
        .top-left{
            .icon-ul{
                border: none !important;
                a{
                    font-size: 18px !important;
                }
            }
            .email-ul{
                display: none !important;
            }
        }
        .top-right{
            .top-list{
                li{
                    a{
                        border: none;
                    }
                    .eur{
                        display: none !important;
                    }
                }
            }
        }
    }
    /* Top Header Media End */

    /* Bottom Header Media Start */
    .bottom-menu{
        padding: 20px !important;
    }
    
    .side-icon{
        display: block !important;
    }
    .bottom-list{
        display: none !important;
    }
    /* Bottom Header Media End */

    /* Center Header Media Start */
    .center-head{
        .center-head-text{
            h1{
                font-size: 32px !important;
            }
            p{
                display: none !important;
            }
        }
    }
    /* Center Header Media End */

    /* Hover Section Media Start */
    .hover-section{
        .hover-text{
            h2{
                margin: 0 !important;
                padding: 20px 0 18px;
            }
            p{
                padding-bottom: 55px;
            }
            .see{
                opacity: 1;
                visibility: visible;
            }
        }
        .hover-text-yellow{
            h2{
                margin: 0 !important;
                padding: 20px 0 18px !important;
            }
            .see{
                opacity: 1;
                visibility: visible;
            }
        }
        .hover-text-blue{
            margin: 20px 0;
            h2{
                margin: 0 !important;
                padding: 20px 0 18px !important;
            }
            .see{
                opacity: 1;
                visibility: visible;
            }
        }
    }
    /* Hover Section Media Start */

    /* Destination Media Start */
    .city{
        .city-link{
            bottom: 20px !important;
        }
        h4{
            font-size: 20px !important;
        }
    }
    /* Destination Media End */

    /* Slide Section Media Start */
    .next, .prev{
        display: none !important;
    }
    /* Slide Section Media Start */

    /* Subcribe Section Media Start */
    .get-img{
        display: none !important;
    }
    /* Subcribe Section Media End */ 

    /* The End Start */
    .end-text{
        p{
            padding-bottom: 20px !important;
        }
    }
    .end-img{
        justify-content: flex-start !important;
    }
    /* The End Start */
}
/* Media Queries End */

